*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1px) {
  .contenedor {
    width: 80%;
  }
}
@media (min-width: 576px) {
  .contenedor {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .contenedor {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 80%;
  }
}
@media (min-width: 1400px) {
  .contenedor {
    width: 80%;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1400px) {
  .col-xxl-12 {
    grid-column: span 12;
  }

  .col-xxl-11 {
    grid-column: span 11;
  }

  .col-xxl-10 {
    grid-column: span 10;
  }

  .col-xxl-9 {
    grid-column: span 9;
  }

  .col-xxl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xxl-6 {
    grid-column: span 6;
  }

  .col-xxl-5 {
    grid-column: span 5;
  }

  .col-xxl-4 {
    grid-column: span 4;
  }

  .col-xxl-3 {
    grid-column: span 3;
  }

  .col-xxl-2 {
    grid-column: span 2;
  }

  .col-xxl-1 {
    grid-column: span 1;
  }
}
.navbar {
  width: 100%;
  padding: 1.5% 0;
}
.navbar__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar__registro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar__item {
  display: none;
}
@media (min-width: 992px) {
  .navbar__item {
    display: contents;
  }
}
.navbar__item--title, .navbar__item--button {
  text-decoration: none;
  padding: 0 1rem;
  color: #221d23;
}
.navbar__icono {
  display: contents;
}
@media (min-width: 992px) {
  .navbar__icono {
    display: none;
  }
}

.hero {
  position: relative;
  height: 1rem;
  padding: 0 4% 0 0;
}
@media (min-width: 768px) {
  .hero {
    height: 26rem;
    padding: 0 4% 0 0;
  }
}
@media (min-width: 992px) {
  .hero {
    height: 39rem;
    padding: 0 30% 0 0;
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 55rem;
    padding: 0 30% 0 0;
  }
}
.hero__bg-hero {
  position: absolute;
  top: 6rem;
  left: 0px;
  width: 100%;
  height: 29rem;
  z-index: -5;
}
@media (min-width: 576px) {
  .hero__bg-hero {
    top: 6rem;
    height: 29rem;
  }
}
@media (min-width: 768px) {
  .hero__bg-hero {
    top: 6.25rem;
    height: 38rem;
  }
}
@media (min-width: 992px) {
  .hero__bg-hero {
    top: 0;
    height: 45rem;
  }
}
@media (min-width: 1200px) {
  .hero__bg-hero {
    top: 0;
    height: 55rem;
  }
}
@media (min-width: 1400px) {
  .hero__bg-hero {
    top: 0;
    height: 57rem;
  }
}
.hero__title {
  padding: 0.5rem 0 0 0;
  font-size: 2.813rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hero__title {
    padding: 1.5rem 0 0 0;
  }
}
@media (min-width: 992px) {
  .hero__title {
    padding: 6.5rem 0 0 0;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    padding: 10.5rem 0 0 0;
  }
}
.hero__text {
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.188rem;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 1.875rem;
  }
}

.graph {
  position: relative;
  top: 34rem;
  height: 35rem;
  text-align: center;
}
@media (min-width: 576px) {
  .graph {
    top: 34rem;
    height: 35rem;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .graph {
    top: 18rem;
    height: 30rem;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .graph {
    top: 6rem;
    height: 20rem;
  }
}
@media (min-width: 1200px) {
  .graph {
    top: 0;
    height: 25rem;
  }
}
@media (min-width: 1400px) {
  .graph {
    top: 1rem;
    height: 25rem;
  }
}
.graph__title {
  font-size: 2.188rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
}
.graph__svg {
  padding: 2rem;
}
.graph__text {
  padding: 2rem 0;
  text-align: left;
}
@media (min-width: 992px) {
  .graph__text {
    padding: 0;
  }
}
.graph__text--title {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 0;
}
.graph__text--paragraph {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.9rem;
}
@media (min-width: 992px) {
  .graph__text--paragraph {
    line-height: 1.9rem;
  }
}
.graph__svg--graf {
  animation: graphFade 2s ease-in-out 0s infinite;
  animation-direction: alternate;
}
@keyframes graphFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.price {
  position: relative;
  top: 34rem;
  left: 0;
}
@media (min-width: 576px) {
  .price {
    top: 34rem;
  }
}
@media (min-width: 768px) {
  .price {
    top: 18rem;
  }
}
@media (min-width: 992px) {
  .price {
    top: 6rem;
  }
}
@media (min-width: 1200px) {
  .price {
    top: 0rem;
  }
}
@media (min-width: 1400px) {
  .price {
    top: 0;
  }
}
.price__bg-price {
  position: absolute;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 25rem;
  z-index: -6;
}
@media (min-width: 576px) {
  .price__bg-price {
    top: 0rem;
    height: 33rem;
  }
}
@media (min-width: 768px) {
  .price__bg-price {
    top: 0;
    height: 40rem;
  }
}
@media (min-width: 992px) {
  .price__bg-price {
    top: 0;
    height: 47rem;
  }
}
@media (min-width: 1200px) {
  .price__bg-price {
    top: 0;
    height: 55rem;
  }
}
@media (min-width: 1400px) {
  .price__bg-price {
    top: 0;
    height: 60rem;
  }
}
.price__titulo {
  position: relative;
  top: 15rem;
  color: #fff;
  text-align: center;
  font-size: 2.188rem;
  font-weight: 700;
}
.price__card {
  position: relative;
  top: 18rem;
  left: 0;
  background-color: #333745;
  height: 100rem;
  z-index: -5;
}
@media (min-width: 576px) {
  .price__card {
    top: 25rem;
  }
}
@media (min-width: 768px) {
  .price__card {
    top: 32rem;
  }
}
@media (min-width: 992px) {
  .price__card {
    top: 20rem;
    height: 55rem;
  }
}
@media (min-width: 1200px) {
  .price__card {
    top: 20rem;
  }
}
@media (min-width: 1400px) {
  .price__card {
    top: 20rem;
  }
}

.footer {
  font-size: 1.25rem;
  color: #fff;
  position: relative;
  top: 50rem;
  padding: 3rem;
  background-color: #221d23;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .footer {
    font-size: 1.875rem;
  }
}
@media (min-width: 992px) {
  .footer {
    top: 19rem;
  }
}
.footer__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__span {
  text-align: center;
}
@media (min-width: 992px) {
  .footer__span {
    text-align: right;
  }
}
.footer__items, .footer__span {
  padding: 2rem 0;
}

.navbar__item--button {
  background-color: #2ab7ca;
  color: #fff;
  padding: 0.5rem 1rem;
}

.price__tarjeta--button {
  background-color: #2ab7ca;
  padding: 1rem 1rem;
  margin: 1rem 0;
  text-align: center;
}
.price__tarjeta a {
  text-decoration: none;
  color: #fff;
}

.price__tarjeta {
  background-color: #fff;
  color: #221d23;
  margin: 2rem;
}
.price__tarjeta--card-title {
  font-size: 1.875rem;
  font-weight: 400;
  padding: 2rem 0 0 0;
}
.price__tarjeta--card-price {
  font-size: 3.125rem;
  font-weight: 700;
  padding: 2rem 0;
  border-bottom: 1px solid #221d23;
}
@media (min-width: 992px) {
  .price__tarjeta--card-price {
    font-size: 2.5rem;
  }
}
.price__tarjeta--items {
  list-style-type: disc;
  list-style-position: outside;
  padding: 2rem;
  border-bottom: 1px solid #221d23;
}
.price__tarjeta--item {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1rem 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/*# sourceMappingURL=style.css.map */
