.footer {
    color: $white;
    position: relative;
    top: 50rem;
    padding: 3rem;
    background-color: $raisingblack;
    display: flex;
    flex-direction: column;

    @include respond-to ('lg') {
        top: 19rem;
    }
    

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__span {
        text-align: center;

        @include respond-to ('lg') {
            text-align: right;
        }
    }
    &__items, &__span {
        padding: 2rem 0;
    }
}