.hero {
    height: 10rem;
    padding: 0 4% 0 0;

    @include respond-to ('md') {
        height: 26rem;
        padding: 0 4% 0 0;
    }

    @include respond-to ('lg') {
        height: 39rem;
        padding: 0 50% 0 0;
    }

    @include respond-to ('xl') {
        height: 55rem;
        padding: 0 50% 0 0;
    }

    &__bg-hero{
        position: absolute;
        top: 11rem;
        left: 0px;
        width: 100%;
        height: 29rem;
        z-index: -5;
        background-color:brown;
        

        @include respond-to ('sm') {
            top: 11rem;
            height: 29rem;
            background-color: purple;
        }

        @include respond-to ('md') {
            top: 11.25rem;
            height: 38rem;
            background-color: yellow;
        }

        @include respond-to ('lg') {
            top: 4.25rem;
            height: 45rem;
            background-color: red;
        }

        @include respond-to ('xl') {
            top: 4.25rem;
            height: 55rem;
            background-color: blue;
        }

        @include respond-to ('xxl') {
            top: 4.25rem;
            height: 57rem;
            background-color: green;
        }

    }

    &__title {
        padding: 0.5rem 0 0 0;
        font-size: $font-size-xx-large;
        font-weight: $primary-font-bold;

        @include respond-to ('md') {
            padding: 1.5rem 0 0 0;
        }

        @include respond-to ('lg') {
            padding: 6.5rem 0 0 0;
        }

        @include respond-to ('xl') {
            padding: 15.5rem 0 0 0;
        }
    }
    
}