.graph {
    position:relative;
    top: 35rem;
    height: 35rem;
    text-align: center;
    background-color: brown;
    

    @include respond-to ('sm') {
        top: 35rem;
        height: 35rem;
        text-align: center;
        background-color: purple;
    }

    @include respond-to ('md') {
        top: 19rem;
        height: 30rem;
        text-align: center;
        background-color: yellow;
    }

    @include respond-to ('lg') {
        top: 7rem;
        height: 20rem;
        background-color: red;
    }

    @include respond-to ('xl') {
        top: 0;
        height: 25rem;
        background-color: blue;
    }

    @include respond-to ('xxl') {
        top: 1rem;
        height: 25rem;
        background-color:green;
    }


    &__title {
        font-size: $font-size-xx-large;
        font-weight: $primary-font-bold;
        text-align: center;
        padding: 2rem;
    }

    &__img {
        padding:2rem;
    }
}

.price {
    position:relative;
    top: 35rem;
    left:0;

    @include respond-to ('sm') {
        top: 36rem;
    }

    @include respond-to ('md') {
        top: 20rem;
    }

    @include respond-to ('lg') {
        top: 8rem;
    }

    @include respond-to ('xl') {
        top: 0.5rem;
    }

    @include respond-to ('xxl') {
        top: 0;
    }
    
    
    &__bg-price {
        position:absolute;
        top: 0rem;
        left: 0;
        width: 100%;
        height: 25rem;
        z-index: -6;
        background-color:brown;
        

        @include respond-to ('sm') {
            top: 0rem;
            height: 33rem;
            background-color: purple;
        }

        @include respond-to ('md') {
            top: 0;
            height: 40rem;
            background-color: yellow;
        }

        @include respond-to ('lg') {
            top: 0;
            height: 47rem;
            background-color: red;
        }

        @include respond-to ('xl') {
            top: 0;
            height: 56rem;
            background-color: blue;
        }

        @include respond-to ('xxl') {
            top: 0;
            height: 60rem;
            background-color: green;
        }
    }

    &__tarjeta {
        position:relative;
        top: 23rem;
        left: 0;
        background-color:$licorice;
        padding: 30% 0;
        z-index: -5;

        @include respond-to ('sm') {
            top: 31rem;
        }

        @include respond-to ('md') {
            top: 39rem;
        }

        @include respond-to ('lg') {
            top: 41rem;
        }

        @include respond-to ('xl') {
            top: 55rem;
        }

        @include respond-to ('xxl') {
            top: 55rem;
        }

    }
}