.navbar-desktop {
    display: none;

    @include respond-to ('lg') {
        display: contents;
    }

    &__links {
        padding: 1rem 0;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__registro {
        display: flex;
        justify-content: flex-end; 

        &--items {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        
        &--title, &--button {
            text-decoration: none;
            padding: 0 1rem;
        }
    }
}

.navbar-mobile {
    display: contents;

    @include respond-to ('lg') {
        display: none;
    }

    &__topnav {
        overflow: hidden;
        background-color:$white;
        display: inline;

        &--item {
            color: $raisingblack;
            padding: 0.875rem 1rem;
            text-decoration: none;
            font-size: 1.063rem;
            display: inline-block;

            &:hover {
                background-color: #ddd;
                color: black;
            }
        }

        &--button, &--icono {
            text-decoration: none;
        }

        &--icono {
            color:$raisingblack;
        }

        &--nav {
            display: flex;
            align-items: row;
            justify-content: space-between;
            padding: 1rem 0;
        }
    }

    &__misLinks {
        display: none;
    }

    &__registro {
        text-align: left;
    }
}